html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.banner {
  height: 150px;
  background-color: rgb(32, 32, 32);
}

.content {
  display: flex;
  height: calc(100% - 150px);
  width: 100%;
  color: lightgray;
}

.left-section {
  flex-basis: 33.33%;
  background-color: rgb(24, 24, 24);
  padding: 20px;
}

.right-section {
  flex-basis: 66.67%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(28, 28, 28);
  padding: 20px;
}

/* Optional: Adjust styling for the checkboxes */
.toggle-boxes label {
  margin-bottom: 10px;
  color: lightgrey;
}

.toggle-boxes {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 18%;
  left: 35%;
}

.toggle-boxes label:nth-child(3),
.toggle-boxes label:nth-child(6) {
  margin-bottom: 30px;
}


/*branch*/

.node {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.4%;
  height: 4%;
  border-radius: 50%;
  background-color: grey;
  color: black;
  font-weight: bold;
  text-align: center;
  margin-right: 10px;
  font-size: 9px;
}

.node:hover {
  cursor: pointer;
}

.toggle-boxes:hover {
  cursor: pointer;
}

/* footer */
footer {
  position: fixed;
  bottom: 10px;
  left: 10px;
}

#version-info {
  font-size: 12px;
  color: grey;
}

#dV {
  position: absolute;
  left: 35%;
  bottom: 15%;
}

#arrival {
  position: absolute;
  left: 51.5%;
  bottom: 15%;
}

#departure {
  position: absolute;
  left: 61%;
  bottom: 15%;
}


#logo {
  height: 15%;
  width: 8%;
  position: absolute;
  top: 1%;
  left: 0.5%;
}

#dV_display {
  height: 30px;
  width: 200px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  left: 35%;
  bottom: 10%;
}

#arrival_angle{
  height: 30px;
  width: 100px;
  font-size: 14px;
  text-align: center;
  position: absolute;
  left: 51.5%;
  bottom: 10%;
}

#departure_angle {
  height: 30px;
  width: 100px;
  font-size: 14px;
  text-align: center;
  position: absolute;
  left: 61%;
  bottom: 10%;
}

#calculator-image {
  width: 36%;
  height: 75%;
  position: absolute;
  top: 20%;
  left: 60%;
}

.aero {
  opacity: 0;
}


#aeroArrive {
  width: 36%;
  height: 75%;
  position: absolute;
  top: 20.1%;
  left: 60%;
}

#aeroReturn {
  width: 36%;
  height: 75%;
  position: absolute;
  top: 19.9%;
  left: 60%;
}

#aeroArriveLO {
  width: 36%;
  height: 75%;
  position: absolute;
  top: 20%;
  left: 60%;
}

#aeroReturnLO {
  width: 36%;
  height: 75%;
  position: absolute;
  top: 19.6%;
  left: 60%;
}

#transferAngleArriveText {
  width: 12%;
  text-align: center;
  position: absolute;
  top: 52.5%;
  left: 35%;
}

#transferAngleDepartText {
  width: 12%;
  text-align: center;
  position: absolute;
  top: 52.5%;
  left: 47.5%;
}

#transferAngleArrive {
  width: 12%;
  position: absolute;
  top: 54%;
  left: 35%;
}

#transferAngleDepart {
  width: 12%;
  position: absolute;
  top: 54%;
  left: 47.5%;
}

/***
*  node positions
***/

#sunOrbit {
  position: absolute;
  top: 65.8%;
  left: 65.8%;
}

#sunLand {
  position: absolute;
  top: 65.8%;
  left: 60.7%;
}

#mohoIntercept {
  position: absolute;
  top: 57.1%;
  left: 70.2%;
}

#mohoOrbit {
  position: absolute;
  top: 57.1%;
  left: 65.4%;
}

#mohoLand {
  position: absolute;
  top: 57.1%;
  left: 60.7%;
}

#eveIntercept {
  position: absolute;
  top: 50.3%;
  left: 71.5%;
}

#eveOrbit {
  position: absolute;
  top: 50.3%;
  left: 65.5%;
}

#eveLand {
  position: absolute;
  top: 50.3%;
  left: 60.7%;
}

#gillyIntercept {
  position: absolute;
  top: 42.4%;
  left: 68.6%;
}

#gillyOrbit {
  position: absolute;
  top: 42.4%;
  left: 64.7%;
}

#gillyLand {
  position: absolute;
  top: 42.4%;
  left: 60.7%;
}

#kerbinOrbit {
  position: absolute;
  top: 80.6%;
  left: 75.9%;
}

#kerbinEscape {
  position: absolute;
  top: 65.8%;
  left: 75.9%;
}

#munIntercept {
  position: absolute;
  top: 74.5%;
  left: 71.7%;
}

#munOrbit {
  position: absolute;
  top: 74.5%;
  left: 65.8%;
}

#munLand {
  position: absolute;
  top: 74.5%;
  left: 60.7%;
}

#minmusIntercept {
  position: absolute;
  top: 74.5%;
  left: 79.9%;
}

#minmusOrbit {
  position: absolute;
  top: 74.5%;
  left: 85.4%;
}

#minmusLand {
  position: absolute;
  top: 74.5%;
  left: 91.8%;
}

#dunaIntercept {
  position: absolute;
  top: 34.5%;
  left: 68.5%;
}

#dunaOrbit {
  position: absolute;
  top: 34.5%;
  left: 64.7%;
}

#dunaLand {
  position: absolute;
  top: 34.5%;
  left: 60.7%;
}

#ikeIntercept {
  position: absolute;
  top: 28%;
  left: 67.3%;
}

#ikeOrbit {
  position: absolute;
  top: 25.5%;
  left: 63.9%;
}

#ikeLand {
  position: absolute;
  top: 25.5%;
  left: 60.7%;
}

#dresIntercept {
  position: absolute;
  top: 28.2%;
  left: 72.7%;
}

#dresOrbit {
  position: absolute;
  top: 20.1%;
  left: 67.8%;
}

#dresLand {
  position: absolute;
  top: 20.1%;
  left: 60.7%;
}

#joolIntercept {
  position: absolute;
  top: 42.6%;
  left: 84.4%;
}

#joolOrbit {
  position: absolute;
  top: 46.7%;
  left: 91.1%;
}

#joolLand {
  position: absolute;
  top: 55.8%;
  left: 91.1%;
}

#laytheIntercept {
  position: absolute;
  top: 37.3%;
  left: 87.5%;
}

#laytheOrbit {
  position: absolute;
  top: 28%;
  left: 92.9%;
}

#laytheLand {
  position: absolute;
  top: 20.2%;
  left: 92.9%;
}

#vallIntercept {
  position: absolute;
  top: 32.9%;
  left: 86.1%;
}

#vallOrbit {
  position: absolute;
  top: 27.5%;
  left: 89%;
}

#vallLand {
  position: absolute;
  top: 20.2%;
  left: 89.2%;
}

#tyloIntercept {
  position: absolute;
  top: 36.5%;
  left: 84.4%;
}

#tyloOrbit {
  position: absolute;
  top: 27.9%;
  left: 84.4%;
}

#tyloLand {
  position: absolute;
  top: 20.2%;
  left: 84.4%;
}

#bopIntercept {
  position: absolute;
  top: 32.3%;
  left: 82.8%;
}

#bopOrbit {
  position: absolute;
  top: 27.7%;
  left: 80.5%;
}

#bopLand {
  position: absolute;
  top: 20.2%;
  left: 80.3%;
}

#polIntercept {
  position: absolute;
  top: 37.3%;
  left: 81.2%;
}

#polOrbit {
  position: absolute;
  top: 27.8%;
  left: 76.3%;
}

#polLand {
  position: absolute;
  top: 20.2%;
  left: 76.1%;
}

#eelooIntercept {
  position: absolute;
  top: 65.8%;
  left: 83.7%;
}

#eelooOrbit {
  position: absolute;
  top: 65.8%;
  left: 87.8%;
}

#eelooLand {
  position: absolute;
  top: 65.8%;
  left: 91.8%;
}
